@import "tailwindcss";

@theme {
  --color-ferrari-black: #0c0c0c;
  --color-ferrari-red: #DC0000;
  --color-ferrari-yellow: #F7D117;
  --color-carbon-gray: #1e1e1e;

  --font-orbitron: var(--font-orbitron);
  --font-rajdhani: var(--font-rajdhani);
}

/* Custom Utilities */
@utility glassmorphism {
  background: rgba(12, 12, 12, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-ferrari-black);
  color: white;
}
